<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furball Pictures</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}"><img class="logo" src="{% static 'images/Logo_clear.png' %}" alt="Yuledream"></a></li>
                <li><a href="{% url 'pillowliterature' %}">Pillow Literature</a></li>
                <li><a href="{% url 'swingmusic' %}">Swing Music</a></li>
                <li><a href="{% url 'furballpictures' %}">Furball Pictures</a></li>
                <li><a href="{% url 'account_login' %}">Login</a></li>
            </ul>
        </nav>
    </header>

    <section id="furballpictures">
        <h1>Furball Pictures</h1>
        <p>Video 1</p>
        <p>Video 2</p>
        <p>Video 3</p>
    </section>

    <footer>
        <p>Copyright © 2024 Yuledream. All rights reserved.</p>
    </footer>
</body>
</html>