body, h1, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
}
header, main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    background: #f8f8f7;
}
/* Logo样式，有一个class为.logo的元素 */
.logo {
    height: 36px; /* 图片的高度与文字的高度相同 */
    width: auto; /* 宽度自动，保持图片的原始宽高比 */
    object-fit: contain; /* 图片总是完全显示在容器内 */
}

nav ul {
    display: flex;
    justify-content: flex-start;
}
nav ul li {
    display: inline;
    margin-right: 36px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    line-height: 36px;
    vertical-align: middle; /* 确保文字在垂直方向上居中 */
}
section {
    padding: 40px;
    text-align: center;
}
footer {
    background: #f8f8f7;
    text-align: center;
    padding: 6px;
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 30px; /* 增加标题和表单元素之间的空间 */
    font-size: 28px;
    color: #1d1d1f;
    font-weight: normal; /* Apple tends to avoid bold headings */
    padding: 40px 0 20px; /* More space around the heading */
}

form {
    max-width: 450px;
    margin: auto;
    padding: 40px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow */
}

button {
    background-color: #f5f5f7; /* Light gray background */
    color: #1d1d1f; /* Dark gray text */
    padding: 14px 0; /* Padding top and bottom */
    font-size: 17px; /* Standard font size for readability */
    border-radius: 6px;
    border: 1px solid #d1d1d6; /* Adding a border similar to the input fields */
    cursor: pointer;
    margin-bottom: 20px; /* Space below the button */
}

button:hover {
    background-color: #e5e5ea; /* Slightly darker gray on hover */
}

form p {
    text-align: center;
}

a {
    color: #1d1d1f; /* Dark gray color for links */
    text-decoration: none; /* No underline */
}

input[type="checkbox"] {
    margin-right: 8px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 80%; /* Full width */
    padding: 16px;
    margin-bottom: 20px;
    border: 1px solid #c7c7cc; /* Light border */
    border-radius: 6px;
    font-size: 18px; /* Larger font size for readability */
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1); /* Inner shadow for depth */
}

.password-policy {
    display: inline-block;
    border: 1px solid #d1d1d6;
    border-radius: 10px;
    font-size: 12px;
    color: #1d1d1f;
    padding: 3px 10px;
    background-color: #f5f5f7;
    margin-bottom: 20px;
}

.help {
    display: none;
    position: absolute;
    background-color: #f5f5f7;
    width: 300px;
    border: 1px solid #d1d1d6;
    bottom: 20px;
    font-family: Arial, sans-serif;  /* 设置字体为 Arial */
    font-size: 12px;
    color: #1d1d1f;
    text-align: start;
    border-radius: 10px;  /* 设置窗口的四个角为圆滑的 */
}

.password-policy:hover + .help {
    display: inline;
}